h1{
    margin-left: 3rem;
    font-weight: 400;
}
li{
   list-style: none; 
   margin-left: 2rem;
   padding-top: 8px;
   font-size: 1.3rem;
}

a{
    text-decoration: none;
}

a:link , a:visited{
              color: black;
}

a:hover{
    color: lightcoral;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    margin-right: 2rem;
}

.laptopimg>img{
     width: 95vw;
     height: 100vw;
     margin-left: 2vw;
     margin-right: 2vw;
}

.footer{
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
}

.footer>p{
    font-size: 24px;
}

.skills>div{
    text-align: center;
    margin-left: 1vw;
    width: 30vw;
    margin-top: 2rem;
}

.skills>div.p{
       padding: 1rem;
}

.skills{
    display: flex;
}